<!DOCTYPE html>
<html>

<head>
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="/click.js"></script>
</head>

<body>
	<div id="message">
		Oops, something went wrong. Please try again later.
	</div>
	<canvas id="dots" width="1350px" height="1000px"></canvas>
	<img src="/cat.png" id="cat" width="40px" style="visibility: hidden;"></img>
</body>
<style type="text/css">
	#message{
		border: 1px solid #2196F3;
	    font-family: arial;
	    padding: 5px 5px 5px 5px;
	    border-bottom-left-radius: 10px;
	    border-bottom-right-radius: 10px;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	    background-color: #2196F3;
	    text-align: center;
	    color: #FFFFFF;
	    visibility: hidden;
	}
</style>
</html>